// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////


/* Cards and labels */

.role-label {
    float: left;
    padding: 4px 8px;
    margin-right: 16px;
    margin-bottom: 32px;
    border: 1px solid #d8dde0;
}

.role-management {
    background-color: #ffffff;
}

.role-research {
    background-color: #ffffff;
}

.role-content {
    background-color: #ffffff;
}

.role-design {
    background-color: #ffffff;
}

.role-frontend {
    background-color: #ffffff;
}

.role-testing {
    background-color: #ffffff;
}

.chunk-content { 
    clear: left;
}

.chunk-card {
    background-color: white;
    padding: 32px;
    margin-bottom: 32px;
}


/* Sidebar */

.app-u-border-top {
    border-top: 1px solid $color_nhsuk-blue;
  
    h2 {
      margin-bottom: 16px;
      margin-top: 16px;
    }
  
    ul {
      list-style: none;
      padding-left: 0;
    }
  
  }
