// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.role-label {
    float: left;
    padding: 4px 8px;
    margin-right: 16px;
    margin-bottom: 32px;
    border: 1px solid transparent;
}

.role-management {
    background-color: #83DFEE;
}

.role-research {
    background-color: #85D9AC;
}

.role-content {
    background-color: #84DCD7;
}

.role-design {
    background-color: #B396CB;
}

.role-frontend {
    background-color: #EAA3CA;
}

.role-testing {
    background-color: #FFD18B;
}

.chunk-content { 
    clear: left;
}

.chunk-card {
    background-color: white;
    padding: 32px;
    margin-bottom: 32px;
}
