{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v6">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v6/accessibility">Accessibility</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v6/accessibility">Back to Accessibility</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

      <h1>User research</h1>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">What user researchers need to do about accessibility.</p>

  </div>

</div>

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div>
      {% include "activity-guide-chunks/identify-target-groups-and-accessibility-challenges.html" %}
      {% include "activity-guide-chunks/include-disabled-people-at-every-stage.html" %}
      {% include "activity-guide-chunks/recruit-people-with-disabilities.html" %}
      {% include "activity-guide-chunks/test-with-niche-audiences.html" %}
      {% include "activity-guide-chunks/understand-how-assistive-technologies-work.html" %}
      {% include "activity-guide-chunks/test-for-accessibility-beforehand.html" %}
      {% include "activity-guide-chunks/prepare-before-the-day.html" %}
      {% include "activity-guide-chunks/make-your-research-more-accessible-on-the-day.html" %}   
      {% include "activity-guide-chunks/look-after-your-team.html" %}
      {% include "activity-guide-chunks/sharing-research.html" %}
    
    </div>
    <div>
     <h2>Get in touch</h2>
     <p>If you have a question:</p>
      <ul>
        <li>join us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a></li>
        <li>email <a href="mailto: service-manual@nhs.net">service-manual@nhs.net</a></li>
      </ul>
      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">Updated: June 2019</p>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="app-u-border-top">
      <h2 class="nhsuk-heading-s">Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list-links">
        <li class="nhsuk-body-s"><a href="/v6/accessibility/what-all-NHS-services-need-to-do">What all NHS services need to do</a></li>
        <li class="nhsuk-body-s"><a href="/v6/accessibility/how-to-make-digital-services-accessible">How to make digital services accessible</a></li>
        <li class="nhsuk-body-s"><a href="/v6/accessibility/getting-started">Getting started</a></li>
      </ul>
      <h3 class="nhsuk-heading-xs">Guidance for different activities</h3>
      <ul class="nhsuk-list nhsuk-list-links">
        <li class="nhsuk-body-s"><a href="/v6/accessibility/product-and-delivery">Product and delivery</a></li>
        <li class="nhsuk-body-s"><a href="/v6/accessibility/content-design">Content</a></li>
        <li class="nhsuk-body-s"><a href="/v6/accessibility/design">Design</a></li>
        <li class="nhsuk-body-s"><a href="/v6/accessibility/frontend">Frontend</a></li>
        <li class="nhsuk-body-s"><a href="/v6/accessibility/testing">Testing</a></li>
      </ul>
    </div>
  
  </div>

</div>
{% endblock %}
