{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v4">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v4/accessibility">Accessibility</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v4/accessibility">Back to Accessibility</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1>Content</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Accessibility considerations if you are doing content design.</p>

  </div>

</div>

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div>
      {% include "activity-guide-chunks/understandable-content.html" %}
      {% include "activity-guide-chunks/alternative-text-for-content-images.html" %}
      {% include "activity-guide-chunks/use-headings-correctly.html" %}
      {% include "activity-guide-chunks/data-tables.html" %}
      {% include "activity-guide-chunks/colour-and-location.html" %}
      {% include "activity-guide-chunks/defining-link-and-control-names.html" %}
      {% include "activity-guide-chunks/defining-link-and-control-names.html" %}
      {% include "activity-guide-chunks/error-messages.html" %}
      {% include "activity-guide-chunks/setting-page-titles.html" %}
    </div>

  </div>  

  <div class="nhsuk-grid-column-one-third">
    <div class="app-u-border-top">
      <h2 class="nhsuk-heading-s">Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list-links">
        <li class="nhsuk-body-s"><a href="/v4/accessibility/policy">Accessibility requirements</a></li>
        <li class="nhsuk-body-s"><a href="/v4/accessibility/approach">Make your service accessible</a></li>
      </ul>
      <h3 class="nhsuk-heading-xs">Guidance by role</h3>
      <ul class="nhsuk-list nhsuk-list-links">
        <li class="nhsuk-body-s"><a href="/v4/accessibility/product-and-delivery">Product and delivery</a></li>
        <li class="nhsuk-body-s"><a href="/v4/accessibility/user-research">User research</a></li>
        <li class="nhsuk-body-s"><a href="/v4/accessibility/design">Design</a></li>
        <li class="nhsuk-body-s"><a href="/v4/accessibility/frontend">Frontend</a></li>
        <li class="nhsuk-body-s"><a href="/v4/accessibility/testing">Testing</a></li>
      </ul>
    </div>
  
  </div>


</div>
{% endblock %}
