{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v4">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v4/accessibility">Accessibility</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v4/accessibility">Back to Accessibility</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>How to make digital services accessible</h1>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-7">Our approach to accessibility.</p>  

    </div>

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Consider accessibility at every stage</h2>
      <p>Think about how you are going to address accessibility at the beginning and at every stage of your project.</p>
      <p>It’s much harder to make a service accessible if it’s only addressed late on.</p>
      <ul>
        <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#what-to-do-in-discovery">Making your service accessible: an introduction</a> (GOV.UK service manual) explains what to do at different stages.</li>
      </ul>

      <h2>Make it the whole team’s responsibility</h2>
      <p>Every member of the team should contribute to making your service inclusive.</p>
      <p>You should all:</p>  
      <ul>
        <li>have a good understanding of accessibility</li>
        <li>observe research with users with disabilities</li>
        <li>follow the guidance for your role</li>
      </ul>

      <h2>Research with users with disabilities</h2>
      <p>Include users who have disabilities or use assistive technologies in every round of user research.</p>
      <p>Consider cognitive and physical impairments, visual impairments, and temporary or permanent access needs.</p>
      <ul><li>Follow our <a href="user-research">guidance on user research</a>.</li>
      </ul>

      <h2>Use progressive enhancement</h2>
      <p>Progressive enhancement is about making your page work with just HTML, before adding anything else like cascading style sheets (CSS) and Javascript.</p>
      <ul>
        <li><a href="https://www.gov.uk/service-manual/technology/using-progressive-enhancement">Building a resilient frontend using progressive enhancement</a> (GOV.UK service manual)</li>
      </ul>


      <h2>Test throughout and consider an independent audit</h2>
      <p>An expert audit can help find accessibility problems with your service and make sure it meets accessibility requirements. If you run your own tests regularly, the audit should find very little that needs changing.</p>
      <ul>
          <li>Follow our <a href="testing">guidance on testing</a> and our guidance on <a href="/v4/accessibility/product-and-delivery#monitor-and-record-your-work">monitoring and recording accessibility testing</a> (for product and delivery managers)</li>
          <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit">Getting an accessibility audit</a> (GOV.UK service manual)</li>
      </ul>

    </div>  

    <div class="nhsuk-grid-column-one-third">
      <div class="app-u-border-top">
        <h2 class="nhsuk-heading-s">Accessibility</h2>
        <ul class="nhsuk-list nhsuk-list-links">
          <li class="nhsuk-body-s"><a href="/v4/accessibility/what-all-nhs-services-need to-do">What all NHS services need to do</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/getting-started">Getting started</a></li>
        </ul>
        <h3 class="nhsuk-heading-xs">Guidance for different activities</h3>
        <ul class="nhsuk-list nhsuk-list-links">
          <li class="nhsuk-body-s"><a href="/v4/accessibility/product-and-delivery">Product and delivery</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/user-research">User research</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/content-design">Content</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/design">Design</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/frontend">Frontend</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/testing">Testing</a></li>
        </ul>
      </div>
    </div>

  </div>
{% endblock %}
