{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <h1>Accessibility</h1>
			<p class="nhsuk-body-l">How to make your service work for everyone.</p>
			

			<div class="nhsuk-grid-row nhsuk-u-margin-top-8">

				<div class="nhsuk-grid-column-one-third">

					<h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/v4/accessibility/policy">Accessibility requirements</a></h3>
					<p>What all NHS services need to aim for.</p>

				</div>

				<div class="nhsuk-grid-column-one-third">

					<h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/v4/accessibility/approach">Make your service accessible</a></h3>
					<p>Meet everyone’s different needs and abilities.</p>

				</div>

			</div>

			<div class="nhsuk-grid-row nhsuk-u-margin-top-4">

				<div class="nhsuk-grid-column-two-thirds">

					<h2 class="nhsuk-heading-m">Guidance by role</h2>
					<p>What each role in an NHS team needs to do and think about.</p>
						<ul class="nhsuk-list nhsuk-list-links">
						<li class="nhsuk-heading-xs"><a href="/v4/accessibility/product-and-delivery">Product and delivery</a></li>
						<li class="nhsuk-heading-xs"><a href="/v4/accessibility/user-research">User research</a></li>
						<li class="nhsuk-heading-xs"><a href="/v4/accessibility/content-design">Content</a></li>
						<li class="nhsuk-heading-xs"><a href="/v4/accessibility/design">Design</a></li>
						<li class="nhsuk-heading-xs"><a href="/v4/accessibility/frontend">Frontend</a></li>
						<li class="nhsuk-heading-xs"><a href="/v4/accessibility/testing">Testing</a></li>
					</ul>		

					<h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Get in touch</h2>
					<p>Join us on the <a href="#">NHS digital service manual Slack workspace</a> or email the standards team at <a href="#">service-manual@nhs.net</a>.</p>

				</div>

			</div>

    </div>  

  </div>
{% endblock %}
