{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v4">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v4/accessibility">Accessibility</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v4/accessibility">Back to Accessibility</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Accessibility requirements for NHS services</h1>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-7">The NHS is for everyone, so everything we create must be accessible to everyone, considering different needs and abilities.</p>

    </div>
  
  </div>


  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Accessibility requirements</h2>

      <p>Like all government services, NHS digital services need to:</p>
      <ul>
        <li>meet at least level AA of the Web Content Accessibility Guidelines (WCAG 2.1). Aim for AAA where possible.</li>
        <li>work on the most commonly used <a href="">assistive technologies</a> - including screen magnifiers </li>
        <li>include people with access needs in user research.</li>
      </ul>

      <h3>Internal services</h3>
      <p>NHS staff and civil servants are users too. Internal facing services need to meet the same accessibility requirements.</p>

      <h3>Suppliers and contractors</h3>
      <p>External suppliers contracted to the NHS must also ensure their work meets the same standard.</p>


      <h2>Why it's important</h2>
      <p>In the UK, about 18% of people have a disability of some kind, and a third have temporary impairments like illness or an injury.</p>
      <p>When you’re working on NHS services, think about how people with different needs might use what
      you’re making.</p>
      <p>For example, how would someone with dyslexia consume your content? Or how would someone with a broken arm interact on a mobile device?</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Accessibility is part of the law. If your service isn’t accessible to everyone who needs it, you may
        be breaking the 2010 Equality Act.</p>
      </div>     

    </div> 

    <div class="nhsuk-grid-column-one-third">
      <div class="app-u-border-top">
        <h2 class="nhsuk-heading-s">Accessibility</h2>
        <ul class="nhsuk-list nhsuk-list-links">
          <li class="nhsuk-body-s"><a href="/v4/accessibility/approach">Make your service accessible</a></li>
        </ul>
        <h3 class="nhsuk-heading-xs">Guidance by role</h3>
        <ul class="nhsuk-list nhsuk-list-links">
          <li class="nhsuk-body-s"><a href="/v4/accessibility/product-and-delivery">Product and delivery</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/user-research">User research</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/content-design">Content</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/design">Design</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/frontend">Frontend</a></li>
          <li class="nhsuk-body-s"><a href="/v4/accessibility/testing">Testing</a></li>
        </ul>
      </div>
    </div>

  </div>
{% endblock %}
