{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v2">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v2/accessibility">Accessibility</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v2/accessibility">Back to Accessibility</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Content design</h2>

      <p>In this section:</p>
      <ul>
        <li><a href="#understandable-content">Understandable content</a></li>
        <li><a href="#alternative-text-for-images">Alternative text for images</a></li>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#data-tables">Data tables</a></li>
        <li><a href="#colour-and-location">Colour and location</a></li>
        <li><a href="#defining-link-and-control-names">Defining link and control names</a></li>
        <li><a href="#setting-page-titles">Setting page titles</a></li>
      </ul>

      <div class="nhsuk-u-margin-top-4">
        {% include "activity-guide-chunks/understandable-content.html" %}
        {% include "activity-guide-chunks/alternative-text-for-images.html" %}
        {% include "activity-guide-chunks/headings.html" %}
        {% include "activity-guide-chunks/data-tables.html" %}
        {% include "activity-guide-chunks/colour-and-location.html" %}
        {% include "activity-guide-chunks/defining-link-and-control-names.html" %}
        {% include "activity-guide-chunks/setting-page-titles.html" %}
      </div>



      
    </div>  

  </div>
{% endblock %}
