{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v2">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v2/accessibility">Accessibility</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v2/accessibility">Back to Accessibility</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Design</h1>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Accessibility considerations if you are doing graphic or interaction design.</p>

<!--       <p>In this section:</p>
      <ul>
        <li><a href="#define-colour-contrast">Define colour contrast</a></li>
        <li><a href="#define-html-structure-layout-and-content">Define the HTML structure for layout and content</a></li>
      </ul>
-->

      <div class="nhsuk-u-margin-top-4">
        {% include "activity-guide-chunks/define-colour-contrast.html" %}
        {% include "activity-guide-chunks/define-focus-styles.html" %}
        {% include "activity-guide-chunks/define-html-structure-for-layout-and-content.html" %}
        {% include "activity-guide-chunks/define-form-controls.html" %}
        {% include "activity-guide-chunks/use-vector-text.html" %}
      </div>

    </div>  

  </div>
{% endblock %}
