<div class="chunk-card content">

    <h2 id="defining-link-and-control-names">Define skip links</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="chunk-content">

        <p>Where there are many links or form controls are used in one group, it creates a lot of items to tab through. A link at the start of the group to skip to the end of the links helps people using keyboard-style access with a switch or head-wand to avoid repetitive key-presses.</p>

        <p>Skip links can be invisible (off screen) by default, but must be very visible when focused.</p>

        <p>View the <a href="">skip link</a> component in the service manual.</p>

    
        </details>
    
    </div>

</div>