<div class="chunk-card design">

    <h2 id="define-form-controls">Define form controls, error states and use of colour.</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="chunk-content">
        <p>Forms have particular requirements for accessibility, where the labels, help text and error messages need to convey information properly for various audiences.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                How to make form controls accessible
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <h3>Use of colour</h3>
                <p>Using only colour to convey meaning should be avoided. Additional cues should be provided such as text to support the meaning of the colour and to communicate the same information to people who cannot perceive colour differences, e.g. colour blindness.</p>

                <p>Use multiple visual cues to communicate important information (e.g. text, patterns, strokes, icons, bold, italic)</p>

                <p>Minimum colour contrast ratio of 4:5:1 should be met when using visual cues with text and a minimum of 3:1 when using graphical cues only.</p>


                <h3>Error messages</h3>
                <p>Error messages helps users to identify invalid input and rectify the error, where invalidation occurs define error messages, these should be informative and clearly describes the issue.</p>

                <p>Where an error list is used above the form, each item should be a link that moves the to the correct form field, this helps users who rely on keyboard navigation.</p>

                <p>Error messages must be included next to each input, they should be clear, and they should be visibly associated with the input.</p>

                <h3>Labels</h3>
                <p>Labels help users to understand what input is required from them, positioning labels adjacent to the relevant form field makes it clear to users which form field is associated with the label, this prevents input errors from occurring.</p>

                <p>All form controls must have a label, generally that label should be visible. Grouped items (like radio buttons) must have a ‘legend’, and each input has its own label.</p>

            </div>
        </details>
    </div>
    
</div>