<div class="chunk-card design">

  <h2 id="use-vector-text">Highlight and discuss any custom components </h2>

  <div class="role-label role-design">
      Design
  </div>

  <div class="chunk-content">
    
    <p>The <a href="">components</a> in the service manual are well tested and ready for use.</p>
    
    <p>When you find a need for a new type of component, you should draft an initial approach and collaborate with a front-end developer / [accessibility champion] on the possible impacts for accessibility.</p>

  </div>

</div>