{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

{% block beforeContent %}

	<section class="nhsuk-hero">

		<div class="nhsuk-width-container nhsuk-hero--border">
			<div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-two-thirds">
					<div class="nhsuk-hero__wrapper">
						<h1 class="nhsuk-u-margin-bottom-3">Design and build digital services for the NHS</h1>
						<p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Things you need to make consistent, usable services that put people first.</p>
						
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row nhsuk-promo-group">

	<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item"> 
		<div class="nhsuk-promo">
			<a class="nhsuk-promo__link-wrapper" href="/v1/accessibility">
				<div class="nhsuk-promo__content">
					<h2 class="nhsuk-promo__heading">Accessibility</h2>
					<p class="nhsuk-promo__description">Make NHS services accessible for everyone.</p>
				</div>
			</a>
		</div>
  	</div>
	
	
	<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item"> 
		<div class="nhsuk-promo">
			<a class="nhsuk-promo__link-wrapper" href="#">
				<div class="nhsuk-promo__content">
					<h2 class="nhsuk-promo__heading">Design principles</h2>
					<p class="nhsuk-promo__description">These principles guide all of our design.</p>
				</div>
			</a>
		</div>
  	</div>

	<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">      
		<div class="nhsuk-promo">
			<a class="nhsuk-promo__link-wrapper" href="#">
				<div class="nhsuk-promo__content">
					<h2 class="nhsuk-promo__heading">Content style guide</h2>
					<p class="nhsuk-promo__description">How to write for digital NHS services.</p>
				</div>
			</a>
		</div>
	</div>

</div>

<div class="nhsuk-grid-row nhsuk-promo-group">

	<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item"> 
		<div class="nhsuk-promo">
			<a class="nhsuk-promo__link-wrapper" href="#">
				<div class="nhsuk-promo__content">
					<h2 class="nhsuk-promo__heading">UI styles, components and patterns</h2>
					<p class="nhsuk-promo__description">Build consistent, accessible user interfaces.</p>
				</div>
			</a>
		</div>
  	</div>

	<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">      
		<div class="nhsuk-promo">
			<a class="nhsuk-promo__link-wrapper" href="#">
				<div class="nhsuk-promo__content">
					<h2 class="nhsuk-promo__heading">Frontend library</h2>
					<p class="nhsuk-promo__description">Production code to start building user interfaces for the NHS.</p>
				</div>
			</a>
		</div>
	</div>
	
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
		<div class="nhsuk-promo">
			<a class="nhsuk-promo__link-wrapper" href="#">
				<div class="nhsuk-promo__content">
					<h2 class="nhsuk-promo__heading">Prototyping tools</h2>
					<p class="nhsuk-promo__description">Build prototypes or mockups quickly to show people and test with users.</p>
				</div>
			</a>
		</div>
  </div>

</div>

{% endblock %}
