<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Accessibility guidance - page
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Accessibility guidance prototype
      </h1>

      <div class="nhsuk-panel">
       <h2>Current</h2>

        <h2><a href="/v4">v4 - static guides, one per page</a></h2>
        <ul>
          <li>Iterating after user research</li>
        </ul>
      </div>


      <br>
      <h2 class="nhsuk-u-margin-top-8">Archived</h2>
      <h2><a href="/v3">v3 - filters</a></h2>
      <ul>
        <li>Filters</li>
      </ul>

      <h2><a href="/v2">v2 - static guides, one per page</a></h2>
      <ul>
        <li>Each activity guide in one page with anchor links</li>
      </ul>

      <h2><a href="/v1">v1, static guides, mini-hub</a></h2>
      <ul>
        <li>Mini-hub pattern, contents list, pagination</li>
      </ul>




      


    </div>
  </div>
{% endblock %}
