<div class="chunk-card content">

    <h2 id="alternative-text-for-functional-images">Use alternative text for functional images</h2>

    <div class="role-label role-frontend">
        Frontend
    </div>
    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">
        <p>Some images are functional, like an <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/action-link">action link</a>.</p>

        <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            How to write alt-text for functional images
            </span>
        </summary>
        <div class="nhsuk-details__text">
        <p>If the image has a text label that conveys its meaning, the alt-text of the image should be "null". The attribute should be present, but empty.</p>
        <p>An example would be a link to a health app which includes a brand image and the name of the app. The app name says the same as the brand image so the image doesn't need explaining.</p>

        <p>For a standard image, use: <code><img src="image.jpg" alt=""></code></p>

        <p>For inline SVG images, use: <code><svg aria-hidden="true"></code>.</p> 

        <p>If the image doesn't have any text, you must include alt-text. For example, the play button on a media player or carousel [MENTION?]: <code><img src="play.jpg" alt="Play"></code>.[INSERT PLAY BUTTON IMAGE]</p> 

        <p>For inline SVG images, use: <code><svg ...><title>Play</title></code></p>

        <p>If you have an SVG in a link, use the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/action-link">action link</a> pattern, where there is hidden text in the link and the SVG is hidden from assistive technology.</p>
        
        <p>The alt text (or SVG title) of a functional image should say what the function is, rather than describing what it looks like. For example, "Play" for a video, not "triangle", and "search", not "magnifying glass".</p>
        </details>
    
    </div>

</div>