<div class="content">

    <h4 class="nhsuk-u-margin-top-8">Alternative text for images</h4>

    <p>For people who cannot see an image, having an alternative is vital to understand the content.</p>

    <p>In web pages "alt text" is required for each image.</p>

    <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        How to write alt text
        </span>
    </summary>
    <div class="nhsuk-details__text">

        The content of the alt text depends on the image type and context. For images that are part of the main content area of a page they should describe the image in a way that is meaningful in context.</p>

        <p>Imagine you were reading the page out to a friend; how would you describe the image?</p>

        <div class="nhsuk-u-margin-top-8">
        {{ image({
            "src": "https://via.placeholder.com/300x150",
            "alt": "Placeholder image",
            "caption": "Caption"
        }) }}
        </div>

        <p>The caption underneath the image can assume you understand the image, either by seeing it or reading the alt text.</p>

        </div>
        
    </details>
    

</div>