<div class="chunk-card content">

    <h2 id="autocomplete">Autocomplete</h2>

    <div class="role-label role-content">
        Testing
    </div>

    <div class="chunk-content">

        <p>Where you need information only from the user who is filling the form, make sure it has the autocomplete attribute.</p>

        <p>The <a href="https://www.w3.org/TR/html52/sec-forms.html#sec-autofill">W3C autofill table</a> tells you which attribute to use for each type of form field.</p>
       <p>If the form can be filled for someone else, this is not necessary.</p>
    
    </div>
    
</div>