<div class="chunk-card content">

    <h2 id="autocomplete">Autocomplete</h2>

    <div class="role-label role-content">
        Testing
    </div>

    <div class="chunk-content">

        <p>Where information is required only from the user who is filling the form (i.e. their personal details such as first name) ensure the autocomplete attribute has been correctly assigned.</p>

        <p>Use the <a href="https://www.w3.org/TR/html52/sec-forms.html#sec-autofill">autofill</a> table to understand which attribute needs to be assigned for each type of form field.
        If the form can be filled on behalf of another person this guideline is not required.</p>
    
    </div>
    
</div>