<div class="chunk-card frontend testing">

  <h2 id="check-keyboard-accessibility">Check keyboard accessibility</h2>

  <div class="role-label role-frontend">
      Frontend
  </div>
  <div class="role-label role-testing">
      Testing
  </div>

  <div class="chunk-content">
    <p>Keyboard accessibility is one of the most important parts of accessibility. It enables other input methods, including switches, speech input and screen readers.</p>
    <p>The starting point for keyboard accessibility is to use the correct HTML for links, buttons and form controls. Use <a href="https://beta.nhs.uk/service-manual/styles-components-patterns">components from the service manual</a>, if you can. They've already been tested for keyboard accessibility.</p>
  
    <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            How to test with a keyboard
            </span>
        </summary>
        <div class="nhsuk-details__text">
        <p>Check that you can use:</p>
          <ul>
            <li>tab to progress through links and controls</li>
            <li>shift-tab to reverse</li>
            <li>enter to follow links</li>
            <li>space to select form controls (such as checkboxes)</li>
            <li>arrows for radio-buttons or tabs</li>
          </ul>
          </div>
          </details>
          
    <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
           Check list for each page
            </span>
        </summary>

          <div class="nhsuk-checkboxes nhsuk-u-margin-top-6">
          <p>Check that:</p>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">
                you can tab to all links, buttons and form controls
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-2">
                you cannot tab to non-functional elements (such as headings and paragraphs) 
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-3">
                you can easily see where the <a href="/v4/accessibility/design#define-focus-styles">focus</a> is
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">
                the focus does not move to hidden elements
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="phone">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-2">
                the focus does not get trapped in an element
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-3">
                scripted events (for keyboard, mouse and touch) only fire when expected
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="text message">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-3">
                the visual order for tabbing progress is left-to-right and top-to-bottom
              </label>
            </div>

          </div>

      </details>
    
    </div>

</div>
