<div class="chunk-card content">

    <h2 id="colour-and-location">Do not rely on colour or position</h2>

    <div class="role-label role-content">
        Content
    </div>

    <div class="role-label role-design">
        Design
    </div>


    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Do not rely on colour to convey meaning, for example an instruction. To communicate with people who cannot see well or distinguish colours, you may need to:
        <ul>
        <li>word things differently</li>
        <li>use more than one visual cue, for example, text and an icon as well as colour</li>
        </ul>

        <p>Some people will not understand instructions that refer to the location of page elements.</p>

         <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Example
                </span>
            </summary>
            <div class="nhsuk-details__text">

        <p>Do not say "Press the red button on the right".</p>
        <p>If someone is:</p>
        <ul>
            <li>"colour blind", they may not be able to tell the difference between red and green</li>
            <li>zoomed in, the button may not be on the right</li>
            <li>using a screenreader, they may not see the colour - and location, for them, is simply up or down</li>
        </ul>
        </div>
        </details>
    
    </div>
    
</div>