<div class="chunk-card content">

    <h2 id="colour-and-location">Colour and location</h2>

    <div class="role-label role-content">
        Content
    </div>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>For people who cannot see a page or have converted it into a different format, the colour and location of page elements will change. Therefore providing instructions that rely on those aspects will be problematic.</p>

        <p>For example, do not say "Press the red button on the right".</p>

        <ul>
            <li>For someone who is zoomed in, the button may not be on the right</li>
            <li>For someone with colour blindness, the button may not be differentiated from a green button</li>
            <li>For someone using a screenreader, the colour is not available and the location is simple up or down</li>
        </ul>
    
    </div>
    
</div>