<div class="content">

    <h4 id="data-tables" class="nhsuk-u-margin-top-8">Data tables</h4>

    <p>Tables should only be used if there is a relationship between the "header" cells, and the "data" cells.</p>

    <p>Assistive technology makes use of the relationship to announce the header before each cell and provide column and row information.</p>

    <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            View example
            </span>
        </summary>
        <div class="nhsuk-details__text">

            <div class="nhsuk-u-margin-top-8">
            {{ image({
                "src": "https://via.placeholder.com/300x150",
                "alt": "Placeholder image",
                "caption": "Caption"
            }) }}
            </div>

            <p>In the example data table, the last row would be read as: "Skin symptoms: Itchy blisters. Possible cause: shingles, chickenpox.", the headers and data are read out together.</p>

            <p>It is important to only use tables where this type of relationship is required, otherwise it leads to confusing content.</p>
            </div>
            
        </div>
    </details>

</div>
