<div class="chunk-card content">

    <h2 id="data-tables">Use tables to show relationships between data</h2>

    <div class="role-label role-content">
        Content
    </div>

    <div class="chunk-content">

        <p>Tables make it easier for users to understand the logical relationships between data across the rows and columns. Only use them when there is a relationship between the "header" cells and the "data" cells in the grid.</p>

        <p>Assistive technology uses the relationship to announce the header before each cell and provide column and row information.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                View example
                </span>
            </summary>
            <div class="nhsuk-details__text">

                <p>You can see an example in the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/table">tables component</a> in the service manual.</p>

                <p>Screen readers read out the headers and the data together. So the last row would be read out as: "Skin symptoms: itchy blisters. Possible cause: shingles, chickenpox".</p>
            
            </div>
        </details>
    
    </div>
    
</div>
