<div class="chunk-card content">

    <h2 id="defining-link-and-control-names">Defining link and control names</h2>

    <div class="role-label role-content">
        Content
    </div>
    <div class="role-label role-design">
        Design
    </div>

    <div class="chunk-content">

        <p>Links needs to make sense out of context as some people experience them that way, so each link on a page should clearly describe where it will take you if you choose to follow it.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                How to write good link and control names
                </span>
            </summary>
            <div class="nhsuk-details__text">

                    <p>Ideally link text should match the heading of the target page. So if the target page of the link has a heading “Sleep and tiredness”, that would make good link text.</p>

                    <p>Also:</p>

                    <ul>
                        <li>Avoid ambiguous phrases such as “click here”, “read more” and “find out more”</li>
                        <li>If links open in a new window this information should be included in the link phrase (e.g. “Link name (opens in new window)”)</li>
                    </ul>

                    <p>Good examples:</p>
                   
                    {{ image({
                        "src": "https://dummyimage.com/300x150/D8D8D8/D8D8D8",
                        "alt": "Placeholder image",
                        "caption": "Example 1"
                    }) }}

                    {{ image({
                        "src": "https://dummyimage.com/300x150/D8D8D8/D8D8D8",
                        "alt": "Placeholder image",
                        "caption": "Example 2"
                    }) }}
    
            </div>
        </details>
    
    </div>

</div>