<div class="chunk-card design">

    <h2 id="define-form-controls">Define form controls, error states and use of colour.</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="chunk-content">
        <p>Forms have particular requirements for accessibility, where the labels, help text and error messages need to convey information properly for various audiences.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                How to guidance
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>[TBD]</p>
            </div>
        </details>
    </div>
    
</div>