<div class="design">

    <h4 class="nhsuk-u-margin-top-8">Define colour contrast</h4>

    <h5>Text contrast</h5>

    <p>Using colours that contrast well makes it much easier for people to read content comfortably. Ensure the colour contrast between the text colour and background colour meets the following minimum ratio:</p>

    <ul>
        <li>Small text (4.5:1) – text smaller than 24px or 19px if bold.</li>
        <li>Large text (3:1) – text larger than 24px or 19px if bold.</li>
    </ul>

    <p>Examples:</p>

    <div class="nhsuk-u-margin-top-8">
        {{ image({
        "src": "https://via.placeholder.com/300x150",
        "alt": "Placeholder image",
        "caption": "Caption"
        }) }}
    </div>

    <h5>Non-text contrast</h5>

    <p>User interface components (e.g. text inputs, radio buttons) and meaningful graphics need to be discernible by people with limited vision.</p>

    <p>Graphics such as icons that are essential for understanding the content are required to have contrast. If an icon also has text, contrast is not required but it is recommended. </p>

    <p>Inactive components are exempt from this requirement (e.g. a button that is disabled), although if there is a way of providing contrast without it being confusing, that would help people with low vision.</p>

    <p>Examples:</p>

    <div class="nhsuk-u-margin-top-8">
        {{ image({
        "src": "https://via.placeholder.com/300x150",
        "alt": "Placeholder image",
        "caption": "Caption"
        }) }}
    </div>


</div>