<div class="chunk-card content">

    <h2 id="defining-link-and-control-names">Define skip links</h2>

    <div class="role-label role-design">
        Design
    </div>
    <div class="role-label role-testing">
    Testing
    </div>
    <div class="chunk-content">

        <p>Use a skip link to help keyboard-only users skip to the main content on a page.</p>
        <p>Also add a skip link at the start of a long list of links or form controls (for example, over 20 checkboxes in a filter). This lets people who use keyboard-style access with a switch or head-wand skip to the end and avoid repetitive key-presses.</p>

        <p>Skip links can be invisible by default, but must be very visible when focused.</p>

        <p>Follow the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/skip-link">skip link</a> component in the service manual.</p>

    
        </details>
    
    </div>

</div>