<div class="chunk-card design">

    <h2 id="define-focus-styles">Define focus styles</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="chunk-content">
        <p>Everyone should be able to access all interactive components with a keyboard or a similar device. It should be clear to them which element or link is the current focus position on the page. The browser default is generally not good enough.</p>
        <p>Make sure that the focus looks significantly different. You can do this by adding something, like an outline or icon, or changing the colour of part of the component. The change should have a good <a href="#check-colour-contrast">colour contrast</a>.</p>
        <p>We recommend the focus style in the <a href="https://beta.nhs.uk/service-manual/frontend-library">NHS.UK frontend library</a>.</p>

    </div>

</div>