<div class="chunk-card design">

    <h2 id="define-focus-styles">Define focus styles</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="chunk-content">
        <p>Everyone should be able to access all interactive components with a keyboard (or equivalent device) and it should be clear which element or link has “focus”.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                View example
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Define the focus styles to guide people, they need to clearly identify the current focus position on the page. The browser default indicator is generally not good enough.</p>

                <div class="nhsuk-u-margin-top-8">
                    {{ image({
                    "src": "https://via.placeholder.com/300x150",
                    "alt": "Placeholder image",
                    "caption": "Caption"
                    }) }}
                </div>
            </div>
        </details>

    </div>

</div>