<div class="chunk-card design frontend">

    <h2 id="define-colour-contrast">Define colour contrast</h2>

    <div class="role-label role-design">
        Design
    </div>
    <div class="role-label role-frontend">
        Frontend
    </div>
    

    <div class="chunk-content">

        <h3 class="nhsuk-heading-xs">Text contrast</h3>

        <p>Using colours that contrast well makes it much easier for people to read content comfortably. Ensure the colour contrast between the text colour and background colour meets the following minimum ratio:</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                View text contrast ratios
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
                <h5>Contrast ratio</h5>
                <ul>
                    <li>Small text (4.5:1) – text smaller than 24px or 19px if bold.</li>
                    <li>Large text (3:1) – text larger than 24px or 19px if bold.</li>
                </ul>

                <h5 class="nhsuk-u-margin-top-6">Example</h5>

                {{ image({
                "src": "https://dummyimage.com/300x150/D8D8D8/D8D8D8",
                "alt": "Placeholder image",
                "caption": "Text colour contrast"
                }) }}
    
            </div>
        </details>



        <h3 class="nhsuk-heading-xs nhsuk-u-margin-top-6">Non-text contrast</h3>

        <p>User interface components (e.g. text inputs, radio buttons) and meaningful graphics need to be discernible by people with limited vision.</p>

        <p>Graphics such as icons that are essential for understanding the content are required to have contrast. If an icon also has text, contrast is not required but it is recommended. </p>

        <p>Inactive components are exempt from this requirement (e.g. a button that is disabled), although if there is a way of providing contrast without it being confusing, that would help people with low vision.</p>

            <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                View example of non-text contrast
                </span>
            </summary>
            <div class="nhsuk-details__text">

                <h5 class="nhsuk-u-margin-top-6">Example</h5>

                {{ image({
                "src": "https://dummyimage.com/300x150/D8D8D8/D8D8D8",
                "alt": "Placeholder image",
                "caption": "Non-text colour contrast"
                }) }}
    
            </div>
        </details>
    
    </div>

</div>