<div class="content">

    <h4 id="defining-link-and-control-names" class="nhsuk-u-margin-top-8">Defining link and control names</h4>

    <p>Links needs to make sense out of context as some people experience them that way, so each link on a page should clearly describe where it will take you if you choose to follow it.</p>

    <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            How to write good link and control names
            </span>
        </summary>
        <div class="nhsuk-details__text">

            <div class="nhsuk-u-margin-top-8">
                {{ image({
                    "src": "https://via.placeholder.com/300x150",
                    "alt": "Placeholder image",
                    "caption": "Caption"
                }) }}
                </div>

                <p>Ideally link text should match the heading of the target page. So if the target page of the link has a heading “Sleep and tiredness”, that would make good link text.</p>

                <p>Also:</p>

                <ul>
                    <li>Avoid ambiguous phrases such as “click here”, “read more” and “find out more”</li>
                    <li>If links open in a new window this information should be included in the link phrase (e.g. “Link name (opens in new window)”)</li>
                </ul>

                <p>Good examples:</p>

                <p>[Add design example component]</p>
                <p>[Add design example component]</p>
   
        </div>
    </details>

    <hr>
</div>