<div class="chunk-card design frontend">

    <h2 id="define-colour-contrast">Define colour contrast</h2>

    <div class="role-label role-design">
        Design
    </div>
    <div class="role-label role-frontend">
        Frontend
    </div>
    

    <div class="chunk-content">
        <p>It's easier for people to read and interact with content if you use colours that contrast well. Where possible, the NHS aims for a higher level of contrast (AAA).</p>

        <p>Use a tool to check the colour contrast:</p>
            <ul>
                <li><a href="http://webaim.org/resources/contrastchecker/">Web Aim's colour contrast checker</a></li>
                    <li><a href="http://colororacle.org/">Color Oracle (free colour blindness simulator)</a></li>
            </ul>
        

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Text contrast 
                </span>
            </summary>
            <div class="nhsuk-details__text">
            <p>Make sure the contrast between the text colour and background colour meets the following minimum ratios (AAA):</p>
                <ul>
                    <li>small text (7:1) – text smaller than 24px or 19px if bold</li>
                    <li>large text (4.5:1) – text larger than 24px or 19px if bold </li>
                </ul>
                    
            </div>
        </details>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Non-text contrast
                </span>
            </summary>
            <div class="nhsuk-details__text">

        <p>People with limited vision need to be able to identify and understand:</p>
        <ul>
            <li>user interface components (like text inputs and radio buttons)</li>
            <li>meaningful graphics (like icons)</li>
        </ul>
        <p>To check them:<p>
        <ul>
            <li>identify the elements that convey the meaning of the component or graphic</li>
            <li>use a tool to calculate the ratio between the graphical element and the adjacent colour - for example, the white arrow (foreground) and the green background in the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/action-link">action link</a> example below</li>
            <li>check the colour contrast meets the minimum ratio of 3:1</li>
        </ul> 

                {{ image({
                "src": "https://dummyimage.com/300x150/D8D8D8/D8D8D8",
                "alt": "White arrow on green circle",
                "caption": "Action link icon"
                }) }}
        <p>If a graphic, such as an icon, is essential to understand the content, it must meet the minimum contrast ratio. If it also has text, it doesn't have to meet the requirement but it is still recommended.</p>

        <p>Components that are visible but not currently active (like a submit button that isn't active until you've filled in the form) are exempt from the requirement, but if you can meet the minimum contrast without it being confusing, that will help people with low vision.</p>       

    
            </div>
        </details>
        </div>
    
    <p>
    <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/colour">Read more about the colours we use </a> in the service manual.</p>
  

</div>