<div class="chunk-card design">

  <h2 id="discuss-custom-components">Discuss any custom components</h2>

  <p class="nhsuk-body-s">For: <a href="/v6/accessibility/design">Design</a>, <a href="/v6/accessibility/frontend">Frontend</a>

  <div class="chunk-content">
    
    <p>The <a href="https://beta.nhs.uk/service-manual/styles-components-patterns">components</a> in the service manual are well tested and ready to use.</p>
    
    <p>If you need a new component, discuss it with other members of your team. You need to make sure that:</p>
    <ul>
      <li>you have good evidence that it's the best way of meeting the user need</li>
      <li>it will be accessible</li>
      <li>you <a href="/v6/accessibility/testing">test it</a></li>
    </ul>
    <p>Bear in mind that new components add an overhead of testing, both from a technical and a usability point of view.</p>

  </div>

</div>