<div class="chunk-card design">

  <h2 id="discuss-custom-components">Discuss any custom components</h2>

  <div class="role-label role-design">
      Design
  </div>

  <div class="chunk-content">
    
    <p>The <a href="https://beta.nhs.uk/service-manual/styles-components-patterns">components</a> in the service manual are well tested and ready to use.</p>
    
    <p>If you need a new component, discuss it with other members of your team, including a frontend developer. You need to make sure that:</p>
    <ul>
      <li>you have good evidence of user need</li>
      <li>it will be accessible</li>
      <li>you <a href="/v4/accessibility/testing">test it</a></li>
    </ul>

  </div>

</div>