<div class="chunk-card content">

    <h2>Do not include text in images</h2>

    <div class="role-label role-testing">
        Design
    </div>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

    <p>Users need as much information as possible as text, so that they can adjust its size, spacing or formatting.</p>
    <p>Do not include text in graphical (raster) formats like PNG, JPEG or GIF. They do not work well when users zoom in. Instead put text in HTML (styled with CSS) or use SVG.</p>
    <p>This doesn't apply to logos.</p>

    </div>
    
</div>