<div class="chunk-card content">

    <h2>Do not trigger pop-ups by hover or focus</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Additional content should not be triggered by mouse hover or keyboard focus.</p>
        <p>It causes issues for people zoomed in or using a screen magnifier. If 3rd party content uses this approach then ensure that it is possible to dismiss the content without moving the mouse or focus. This can be done by either setting the ESC key as a method of dismissing the pop-up/over.</p>

    </div>
    
</div>