<div class="chunk-card content">

    <h2>Do not add keyboard shortcuts</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Single letter keyboard shortcuts must not be implemented.</p> 
        <p>For example, Gmail uses the "j" and "k" keys to move between emails. Any keyboard shortcut using single numbers, punctuation, lowercase letters, uppercase letters or symbol characters can interfere with voice input software.</p>
        <p>For 3rd party content the does implement these types of shortcuts: There must be either a mechanism which allows users to turn off character key shortcuts, or a functionality to remap the shortcuts to use more than one character (e.g. ALT + j).</p>

    
    </div>
    
</div>