<div class="chunk-card content">

    <h2 id="colour-and-location">Do not rely on colour or position alone</h2>

    <p class="nhsuk-body-s">For: <a href="/v6/accessibility/content">Content</a>, <a href="/v6/accessibility/design">Design</a>, <a href="/v6/accessibility/testing">Testing</a>

    <div class="chunk-content">

        <p>Do not rely on colour to convey meaning, for example, an instruction. To communicate with people who cannot see well or distinguish colours, you may need to:
        <ul>
        <li>word things differently</li>
        <li>use more than one visual cue, for example, text and an icon as well as colour</li>
        </ul>

        <p>Do not rely on people understanding instructions that refer to the position of page elements.</p>

         <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Example
                </span>
            </summary>
            <div class="nhsuk-details__text">

        <p>Do not say "Press the red button on the right".</p>
        <p>If someone is:</p>
        <ul>
            <li>"colour blind", they may not be able to tell the difference between red and green</li>
            <li>zoomed in, the button may not be on the right</li>
            <li>using a screenreader, they may not see the colour - and position, for them, is simply up or down</li>
        </ul>
        </div>
        </details>
    
    </div>
    
</div>