<div class="chunk-card content">

    <h2>Do not rely on touch gestures</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Even for interfaces designed for touch screens, touch-gestures must not be relied on.</p>

        <p>For example, if you 'swipe' between images, there needs to be a button to perform the same action for people using switch-access or screenreaders. Touch gestures can be used, there just has to be a standard fallback.</p>

    </div>
    
</div>