<div class="chunk-card content">

    <h2>Do not use down events for links and buttons</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Actions should only be triggered once the pointer / finger has been released from the activation target. This should allow users the chance to cancel or avoid activating a trigger by dragging away from the target.</p>

        <p>How to test for down events:</p>
        <ul>
            <li>For any interactive element, actions should be activated once the pointer or finger has been released.</li>
        </ul>
        
    </div>
    
</div>