<div class="chunk-card content">

    <h2>Do not override visible labels</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>For user interface components with labels that include text or images of text, the programmatic name corresponds with the text that is presented visually.</p>

        <p>How to check labels:</p>
        <ul>
            <li>Check that the visible label matches or contains the same words as the programmatic label.</li>
        </ul>

    </div>
    
</div>