<div class="chunk-card content">

    <h2>Highlight errors in forms</h2>
    <div class="role-label role-testing">
        Content
    </div>

     <div class="role-label role-design">
        Design
    </div>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Make sure that error messages clearly describe what went wrong and how to fix the problem.</p>

        <p>If you have an error summary at the top of a form, check that each item in the list has a link that moves the focus to the correct form field. This helps users who rely on keyboard navigation.</p>
        
        <p>Include error messages next to each input. It should be visibily obvious that the message is associated with the input.</p>

    <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
               More about error messages and error summaries
                </span>
            </summary>
            <div class="nhsuk-details__text">
            Use the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/error-message">error message</a> and <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/error-summary">error summary</a> components in the service manual. They have already been tested for accessibility. They also contain links to useful GOV.UK guidance on writing good error messages.</a> 
    </div>
    </details>

    </div>


    
</div>