<div class="chunk-card content">

    <h2>Error messages</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Error messages helps users to identify invalid input and rectify the error, where invalidation occurs define error messages, these should be informative and clearly describes the issue.</p>

        <p>Where an error list is used above the form, each item should be a link that moves the focus to the correct form field, this helps users who rely on keyboard navigation;</p>
        
        <p>Error messages must be included next to each input, they should be clear, and they should be visibly associated with the input.</p>

    </div>
    
</div>