<div class="chunk-card content">

    <h2>Flashes and animation</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <h3>Pause, Stop, Hide</h3>
        <p>Examine the page to identify any content that moves, blinks and scrolls automatically and also lasts more than 5 seconds, where such content is implemented ensure that a functionality is provided which gives the ability to pause, hide or stop the content.</p>

        <h3>Three Flashes or Below Threshold</h3>
        <p>Examine the page to identify content that flashes more than 3 times in any 1 second, or the flash is below the general flash and red flash thresholds.</p>

    </div>
    
</div>