<div class="content">

    <h4 id="headings" class="nhsuk-u-margin-top-8">Headings</h4>

    <p>Headings provide descriptions of content, and for some people they provide an effective method of navigating the page.</p>

    <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            How to use headings right
            </span>
        </summary>
        <div class="nhsuk-details__text">
            <p>The question for each heading is whether it is a sub-section of the previous heading. If not, it should be at the same level as (or higher than) the previous section.</p>

            <p>The size and style of text is not the deciding factor about heading level, the structure of the page is the key factor.</p>

            <div class="nhsuk-u-margin-top-8">
            {{ image({
                "src": "https://via.placeholder.com/300x150",
                "alt": "Placeholder image",
                "caption": "Caption"
            }) }}
            </div>
        </div>
    </details>
    
</div>