<div class="chunk-card content">

    <h2>Identify target groups and accessibility challenges</h2>

    <p class="nhsuk-body-s">For: <a href="/v6/accessibility/user-research">User research</a>

    <p>In the discovery part of the project, you should learn enough about the needs of the people who will be using your service or product to know if it will cause accessibility challenges. What impact might it have on people with complex needs? Does it affect disabled people differently?</p>
    
    <p>For example, how will your project contact people? Some people can't make phone calls and some people can't read paper.</p>

    <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Resources to help you
        </span>
    </summary>
    <div class="nhsuk-details__text">
    <p>GOV.UK has a set of <a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles">user profiles to help you understand disabilities and impairments</a>.</p>

    <p>Your organisation may have an internal network of people who have access needs. (NHS Digital has an Ability Network, for example.) Colleagues with access needs may be willing to help with initial research and establishing the requirements for a project. But you must test your product with your target audience.</p>
    </div>
    </details>
    
</div>