<div class="research">

    <h4 id="include-people-with-disabilities" class="nhsuk-u-margin-top-8">Include people with disabilities</h4>

    <p>When conducting user research it is important to include people with disabilities. Research with people with disabilities tends to find general issues that affect everyone, as well as issues which impact accessibility.</p>

    
    <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            How to involve people with different abilities
            </span>
        </summary>
        <div class="nhsuk-details__text">

            <ul>
                <li>Interviews should include people with access needs.</li>
                <li>Testing paper or low-fidelity mock-ups can include people with hearing, communication, and dyslexia access needs. It may be possible to include others if the scenario is adapted, e.g. using the wizard-behind-a-curtain method to explore screenreader interactions.</li>
                <li>Prototype code can also be tested with people with mobility, cognitive and vision (magnification) issues.</li>
                <li>Production code should be testable with everyone, so adding people who use speech output, speech input, and colour-changing plugins.</li>
            </ul>

            <p>In the discovery part of the project it is important to consider what impact this project might have on different aspects of disability. For example, what contact methods are provided, as some people can't use phone calls and some people can't read paper.</p>

            <p>When usability testing with people who use assistive technologies, it is important to have some understanding of how their technology works in order to understand when you have hit a dead end.</p>

            <p>NHS UK has an internal network of people who have access needs, which can be very useful in initial research and establishing the requirements for a project. However, for testing a product that will be used by the general public</p>
        
        </div>
    </details>

</div>

