<div class="chunk-card research">

    <h2 id="include-people-with-disabilities">Include disabled people</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>In the UK, almost 1 in 5 people have a disability of some kind. 1 in 3 have a temporary impairment like an illness or injury. Try to include 1 disabled person in every 5 people you research with.</p>
        <p>Including disabled people in user research doesn't just help identify accessibility issues. It shows up general issues that affect everyone.</p>
        
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Involving people with different abilities at different stages
                </span>
            </summary>
            <div class="nhsuk-details__text">
            
                <ul>
                    <li>Interviews: include people with access needs from the start.</li>
                    <li>Paper or low-fidelity mock-ups: you can include people with hearing, communication, and dyslexia access needs. You may be able to include people with other needs too if you adapt the scenario, for example, by using the wizard-behind-a-curtain method to explore screenreader interactions. (This is where users think that they are using a real system but in fact the researcher is controlling it.)</li>
                    <li>Working HTML prototypes: you can test them with people with mobility, cognitive and vision (magnification) issues.</li>
                    <li>Live services or sites: include people who use speech output, speech input, and colour-changing plugins.</li>
                </ul>         

             <p> A Home Office blog on <a href="https://hodigital.blog.gov.uk/2017/12/21/working-together-to-achieve-accessibility/">Working together to achieve accessibility</a> explains how they test accessibility at different stages in the development lifecycle. </p>
            
            </div>
        </details>
       
    </div>

</div>

