<div class="chunk-card research">

    <h2 id="include-people-with-disabilities">Include people with disabilities</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>When you're doing user research, make sure you include people with disabilities. That will not only help you identify accessibility issues. Research with people with disabilities often shows up general issues that affect everyone.</p>
        
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                How to involve people with different abilities
                </span>
            </summary>
            <div class="nhsuk-details__text">
            
                <ul>
                    <li>Include people with access needs in interviews from the start.</li>
                    <li>If you're testing paper or low-fidelity mock-ups, you can include people with hearing, communication, and dyslexia access needs. You may be able to include people with other needs too if you adapt the scenario, for example by using the wizard-behind-a-curtain method to explore screenreader interactions. (This is where users think that they are using a real system but in fact the researcher is controlling it.)</li>
                    <li>You can test prototype code with people with mobility, cognitive and vision (magnification) issues.</li>
                    <li>You should be able to test production code with everyone. Include people who use speech output, speech input, and colour-changing plugins.</li>
                </ul>

                <p>In the discovery part of the project, consider what impact this project might have on people with different access needs. For example, how will you contact users? Some people can't use phone calls and some people can't read paper.</p>

                <p>When you are doing usability testing with people who use assistive technologies, it is important to have some understanding of how their technology works so that you can recognise when you have hit a dead end.</p>

                <p>Your organisation may have an internal network of people with access needs. (NHS.UK has an Ability Network, for example.) Colleagues with access needs may be willing to help with initial research and establishing the requirements for a project. However, you must test the product with your target audience.</p>
            
            </div>
        </details>

    </div>

</div>

