<div class="chunk-card content">

    <h2>Labels</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Labels help users to understand what input is required from them, positioning labels adjacent to the relevant form field makes it clear to users which form field is associated with the label, this prevents input errors from occurring.</p>
        <p>All form controls must have a label, generally that label should be visible. Grouped items (like radio buttons) must have a ‘legend’, and each input has its own label.</p>
        <p>To test the code is correct, you can usually click on the label and the input should be focused by the browser. Otherwise, check there is a 'for' attribute on the label, and it matches the 'id' attribute of the input.</p>

    </div>
    
</div>