<div class="chunk-card content">

    <h2>Define page structure with landmarks</h2>

    <div class="role-label role-testing">
        Design
    </div>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Landmarks are hidden labels for sections of the page. They help people who use assistive technologies build a mental picture of the page and navigate it. They also help users looking at multiple pages skip repetitive sections.</p>
        <p>Use ARIA landmarks to identify the regions of a page.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Landmarks you need
                </span>
            </summary>
            <div class="nhsuk-details__text">
        <p>Make sure that you've defined these landmarks if your page includes them:</p>
        <ul>
            <li>banner: at the top of the page, usually contains the logo</li>
            <li>navigation: elements that link to other pages, usually in the banner</li>
            <li>search: the search field, usually in the banner</li>
            <li>main: contains the main content of the page. It should be unique on each page.</li>
            <li>contentinfo: the footer. This is shared across pages.</li>
        </ul>
        <p>You'll need to define headings, lists and data tables in content areas too.</p>
        <p>Follow the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/header">header</a> and <a href="https://beta.nhs.uk/service-manual/styles-components-patterns/footer">footer</a> components in the service manual.</p> 
        </div>
        </details>

    </div>
    
</div>