<div class="chunk-card content">

    <h2>Landmarks</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>ARIA landmarks must be defined to identify regions of a page.</p>
        <p>Test landmarks by ensuring the following have been assigned when present:</p>
        <ul>
            <li>Banner: Located at the top of the page, usually contains the logo.</li>
            <li>Navigation – Navigation elements that go to other pages, usually located inside the banner.</li>
            <li>Search – The search field, usually located inside the banner.</li>
            <li>Main – Contains the main content of the page, it should be unique on each page.</li>
            <li>ContentInfo – The footer, this is shared across pages.</li>
        </ul>
        <p>Refer to the landmarks pattern for details.</p>

    </div>
    
</div>