<div class="chunk-card content">

    <h2>Make video and multimedia accessible</h2>

    <div class="role-label role-design">
        Design
    </div>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>The general requirements for video and multimedia are that:</p>
        <ul>
            <li>The interface is accessible (play/pause buttons, location slider etc); </li>
            <li>If you cannot see it, you can understand what is being conveyed;</li>
            <li>If you cannot hear it, you can understand what is being conveyed.</li>
        </ul>

        <p>Where videos are used on their own (not aligned with a content page), they must include a transcript. The transcript should include all dialogue, relevant sound effects, and visual content.</p>

        <p>When videos include dialogue, the video should also have captions.</p>

        <p>For videos which rely on visual content to convey information (e.g. showing diagrams without verbal description), including an audio description is encouraged but not required, the transcript is the minimum requirement.</p>

    </div>
    
</div>