<div class="chunk-card content">

    <h2>Niche audiences</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>If you are testing with a niche audience it can be difficult to find people in that niche who also have a disability. In that circumstance you can do usability testing at an interface level. For example, if a service was aimed at staff in GP surgeries who book appointments, you could recruit someone with a disability and provide a short introduction to appointment booking at the start of a session. Any feedback about the domain (appointment booking) would be secondary, you would focus on the interface issues they encounter).</p>

    </div>
    
</div>