<div class="chunk-card content">

    <h2>Recruitment</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>Many companies that recruit for UX research can include people with disabilities if asked, and GDS have published a few <a href="">recruitment tips.</a></p>

        <p>The exact mix of participants can vary depending on the type of research or interface being tested, but we generally try to include people with:</p>

        <ul>
            <li>Learning and cognitive disabilities (e.g. dyslexia, dyscalculia, ADHD, or a learning or intellectual disability);</li>
            <li>Limited mobility, someone who uses voice input or alternative method of input.</li>
            <li>Low vision, someone who needs to adjust their computer such as using a screen magnifier or zoom controls;</li>
            <li>No hearing, often it is useful to recruit a sign language interpreter at the same time, or even via the interpreter;</li>
            <li>No vision, someone who needs to use a screen reader to use a computer or device;</li>
            <li>It is not necessary to include all of these categories in one day, but reasonable coverage should be achieved through a project.</li>
        </ul>
    </div>
    
</div>