<div class="chunk-card content">

    <h2>Requirements gathering</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>In the discovery part of the project it is important to consider what impact this project might have on different aspects of disability. For example, what contact methods are provided, as some people can't use phone calls and some people can't read paper.</p>
        <p>NHS Digital has an internal network of people who have access needs, which can be very useful in initial research and establishing the requirements for a project. Other areas of the NHS may also have a similar network. However, for testing a product that will be used by the general public, people who work at the NHS are not suitable participants because they know too much!</p>

    </div>
    
</div>