<div class="chunk-card content">

    <h2>Reseach at different stages of a project</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>How people with different abilities can be involved at each stage varies, but as a general outline:</p>

        <ul>
       
            <li>Interviews should include people with access needs.</li>
            <li>Surveys should be conducted using accessible survey software. [We use SurveyGismo which is ok, as is SurveyMonkey. not sure if it's appropriate to recommend something here?  typeform is awful, here are some anecdotal reviews.]</li> 
            <li>Testing paper or low-fidelity mock-ups can include people with hearing, communication, and dyslexia access needs.</li>
            <li>Prototype code can also be tested with people with mobility, cognitive and vision (magnification) issues.</li>
            <li>Production code should be testable with everyone, so adding people who use speech output, speech input, and colour-changing plugins.</li>
        
        </ul>

        <p>James Buller from the Home Office did a talk on how they incorporated people at different stages of a project.</p>

        </ul>


    </div>
    
</div>