<div class="chunk-card manage">

    <h2 id="make-sure-everyone-knows-their-responsibilities">Make sure everyone knows their responsibilities</h2>

    <div class="role-label role-management">
        Product and delivery
    </div>

    <div class="chunk-content">
        <p>Make sure everyone in the team knows what they need to do and is checking their work, using the guidance for different roles.</p>

        <p>Everyone should have a basic understanding of accessibility. If a team member doesn't, you should help them <a href="getting-started">get started</a>.</p>
    </div>

</div>


