<div class="chunk-card manage">

    <h2 id="make-sure-everyone-knows-their-responsibilities">Make sure everyone knows their responsibilities</h2>

    <p class="nhsuk-body-s">For: <a href="/v6/accessibility/product-and-delivery">Product and delivery</a>

    <div class="chunk-content">
        <p>Make sure everyone in the team knows what they need to do and is checking their work, using the guidance for different roles.</p>

        <p>If a team member doesn't have a basic understanding of accessibility, help them <a href="getting-started">get started</a>.</p>
    </div>

</div>


