<div class="chunk-card frontend testing">

    <h3 id="setting-language-of-the-content">Setting the language of the content</h3>

    <div class="role-label role-frontend">
      Frontend
    </div>
    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content"> 

        <p>In order for screenreaders (and search engines) to know what language the page is a small bit of markup is needed in each page.</p>

        <p>In the HTML element the language can be set to English for the whole page: <strong>html lang="en"</strong></p>

        <p>Where there are changes of language within the page, these should be marked up as well:<p>
    
        <p>You can search for health professionals for the area you are staying in via <a href=”…” lang=”fr”>l’Assurance Maladie</a> website (information in French only).</p>
        
        <p>The lang attribute can be applied to any container.</p>

    <div>

</div>