<div class="chunk-card content frontend testing">

    <h2 id="setting-page-titles">Setting page titles</h2>

    <div class="role-label role-content">
        Content
    </div>
    <div class="role-label role-frontend">
        Frontend
    </div>
    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">
        <p>Each page title should be unique, descriptive and concise. It is the first thing read out to a screenreader when landing on a page, and the link shown in search results. In both cases a good page title helps when finding the page or switching between tabs.</p>

        <p>For content managed pages the title is based on the title field in the CMS, and fits into a templated pattern.</p>

        <p>Best practice is generally: Page name | Section – Sitename</p>
    
    </div>

</div>