<div class="chunk-card frontend testing">

    <h2 id="setting-language-of-the-content">Set the language</h2>

    <div class="role-label role-frontend">
        Frontend
    </div>
    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content"> 

        <p>You need a small bit of markup on every page for screenreaders (and search engines) to know what language it's in.</p>
        <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            Code for language
            </span>
        </summary>
        <div class="nhsuk-details__text">
        <p>In the HTML element the language can be set to English for the whole page: <code><html lang="en"></code> [CODE]</p>

        <p>Where there are changes of language within the page, these should be marked up as well:<p>
    
        <p>[CODE]<code><p>You can search for health professionals for the area you are staying in via <a href="…" lang="fr">l'Assurance Maladie</a> website (information in French only).</p></code></p>
        
        <p>You can apply the lang attribute to any container.</p>
    </div>
    </div>

</div>