<div class="chunk-card frontend testing">

    <h2 id="setting-language-of-the-content">Set language</h2>

    <p class="nhsuk-body-s">For: <a href="/v6/accessibility/frontend">Frontend</a>, <a href="/v6/accessibility/testing">Testing</a>

    <div class="chunk-content"> 

        <p>You need a small bit of markup on every page for screenreaders (and search engines) to know what language the content (or a part of the content) is in.</p>
        <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            Code for language
            </span>
        </summary>
        <div class="nhsuk-details__text">
            <p>In the HTML element, set the language for the whole page to English: <pre class="rich-text-inverted"><code>&lt;html lang="en"></pre></code> or whatever language the page is in.</p>

            <p>If there are changes of language within the page, mark these up as well:<p>

            <p class="rich-text-inverted">
                <code>&lt;p>Make sure you are treated by a state healthcare provider in France (&lt;span lang="fr">conventionné&lt;/span>).&lt;/p></code>
            </p>
                       
            <p>You can apply the lang attribute to any container.</p>
        </div>
    </div>

</div>