<div class="chunk-card content">

    <h2>Sharing research</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>Any general outcomes from the research that apply to standard NHS components or approaches should be fed back into the service manual. The can be done via the [accessibility working group].</p>

        <p>There is also a place on [sharepoint] for findings to be collated, but obviously any personal information should be removed from what is shared.</p>

    </div>
    
</div>