<div class="chunk-card manage">

    <h2 id="starting-new-project">Ask questions at the start of the project</h2>

    <div class="role-label role-management">
        Product and delivery
    </div>

    <div class="chunk-content">
        <p>Ask yourself how your project will affect people with access needs, how much work you will need to do to make it accessible and whether your team has the capacity and expertise to do it.</p>
     
        <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            Questions to ask
            </span>
        </summary>
        <div class="nhsuk-details__text">
            <p>If the answer to any of these questions is 'yes', it's a sign that the project will need a higher level of accessibility expertise or support.</p>

            <h5>Does the project affect people with disabilities differently?</h5>
            <p>For example, does the user's journey include physical access to a GP surgery? If so, <a href="/v4/accessibility/user-research#include-people-with-disabilities">include people with disabilities</a> in any user research.</p>

            <h5 class="nhsuk-u-margin-top-6">Will the project use any technologies you haven't already tested for accessibility?</h5>
            <p>You will need to test them, and the team working on them will need a higher level of accessibility knowledge or support.</p>

            <h5 class="nhsuk-u-margin-top-6">Will the interface need new components?</h5>
            <p>You'll need to make sure they are accessible and test them.</p>

            <h5 class="nhsuk-u-margin-top-6">Will there be a different colour scheme? </h5>
            <p>You'll need to test the colour combinations, both for text and graphical <a href="/v4/accessibility/design#define-colour-contrast">contrast</a>.</p>

            <h5 class="nhsuk-u-margin-top-6">Will the project use multimedia, PDFs, infographics, large data tables or other less common content? </h5>
            <p>Check the capabilities of the systems and the people creating them so that you can be sure that they will be accessible. </p>

            <h5 class="nhsuk-u-margin-top-6">Is there a reason to include 'Easy Read' documents or translations?</h5>
            <p>If there is some key information that everyone must understand (such as a guide to start using a new national service), then consider including an Easy Read version for people with low-literacy or learning disabilities. Or you could link to Easy Read content from other organisations.</p>

        </div>
        </details>

    </div>

</div>


