<div class="chunk-card manage">

    <h2 id="starting-new-project">Ask key questions at the start of a project</h2>

    <div class="role-label role-management">
        Product and delivery
    </div>

    <div class="chunk-content">
        <p>If the answer to any of these questions is 'yes', it's a sign that the project will need a higher level of accessibility expertise or support.</p>

        <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            Key questions
            </span>
        </summary>
        <div class="nhsuk-details__text">
            <h5>Does the project affect people with disabilities differently?</h5>
            <p>For example: Does the user's journey include physical access to a GP surgery? If so, include people with disabilities in any user research.</p>

            <h5 class="nhsuk-u-margin-top-6">Will the project use any technologies you haven't already tested for accessibility?</h5>
            <p>If so, you will need to test them, and the team working on them will need a higher level of accessibility knowledge or support.</p>

            <h5 class="nhsuk-u-margin-top-6">Will the interface need new components?</h5>
            <p>You will need to make sure they are accessible and to test them.</p>

            <h5 class="nhsuk-u-margin-top-6">Will there be a different colour scheme? </h5>
            <p>The colour combinations will need testing, both for text and graphical contrast.</p>

            <h5 class="nhsuk-u-margin-top-6">Will the project use multimedia PDFs, infographics, large data tables or other less common content? </h5>
            <p>If so, check the capabilities of the system and the people creating them so that you can be sure that they will be accessible. </p>

            <h5 class="nhsuk-u-margin-top-6">Is there a reason to include 'Easy Read' documents or translations?</h5>
            <p>If there is some key information that everyone must understand (such as a guide to start using GP online services), then consider including an Easy Read version for people with low-literacy or learning disabilities. Or you could link to Easy Read content from other organisations.</p>

        </div>
        </details>

    </div>

</div>


