<div class="chunk-card content">

    <h2>Status updates away from current focus</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>Important changes in content during a dynamic state should be made aware to screen readers in a way that does not interrupt their journey.</p>
        <p>Where a message that provides information to the user on the success or results of an action (i.e. updated search results, after successfully submitting a form) this information needs to be conveyed programmatically.</p>
        <p>How to check status messages have been implemented:</p>
        <ul>
            <li>Use a screen reader to conduct an action that will trigger a message or a change in context dynamically</li>
            <li>Check whether the message is announced and describes the action accurately.</li>

        </ul>

    </div>
    
</div>