<div class="chunk-card content">

    <h2>Test for usability</h2>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>When usability testing with people with disabilities there are a few factors to consider on top of the standard process:</p>

        <ul>
            <li>Make sure the testing material (e.g. website) is technically accessible first, especially before putting it in front of people using screenreaders or voice-input.</li>
            <li>When usability testing with people who use assistive technologies, it is important to have some understanding of how their technology works in order to understand when you have hit a dead end. Run through the tasks with a screenreader so you are aware of where there might be blockers.</li>
            <li>Encourage people to bring their own laptop/devices, and plan any recording around that. It takes less time to adapt the recording than for someone to adapt to a device they haven't used before.</li>
            <li>Send any forms (such as data protection) in an accessible word document well before the session. Participants should not have to read a paper copy in order to take part. but it is ok to sign the paper copy so long as it is identical to the version they were sent.</li>
            <li>Is the building accessible? Can someone with a wheel chair get to the room?</li>
            <li>Plan to meet people at the front door of the building and escort them to the room.</li>
            <li>Allow for an extra 15 minutes setup time and potentially breaks during the session, so leave buffer around the session times.</li>
        </ul>

        <p>As a starting point it can help to pair up with another researcher who has done accessibility testing, or plan a session with an external provider to assist you getting experience in the type of testing.</p>

    </div>
    
</div>