<div class="chunk-card content">

    <h2 id="autocomplete">Time to read and act</h2>

    <div class="role-label role-testing">
        Testing
    </div>

    <div class="chunk-content">

        <p>There should not be a time limit for inactivity that is less than 20 hours. For example, time limiting a purchase or multi-step form.</p>

        <p>For 3rd party content that does use a time-limit, a clear warning should appear to notify all users on the time they have remaining, users should also be able to:</p>

        <ul>
            <li>Extend the time limit, or</li>
            <li>Turn off the time limit</li>
        </ul>

        <p>There are exceptions for when the time limit is essential to the activity (e.g. an online test) or part of a real time event (e.g. an auction).</p>

    </div>
    
</div>