<div class="chunk-card content">

    <h2>Try out assistive technologies</h2>

    <p class="nhsuk-body-s">For: <a href="/v6/accessibility/user-research">User research</a>

    <div class="chunk-content">

        <p>Get some understanding of how different technologies work. Run through the tasks with a screenreader, for example, so you are aware of where there might be blockers.</p>
        <p>If you are new to this, <a href="/v6/accessibility/getting-started#book-an-accessibility-lab">book a session in an accessibility lab</a>. If you have a Mac, try out VoiceOver, or download NVDA for Windows.</p>

</div>
    
</div>