<div class="chunk-card content">

    <h2 id="understandable-content">Write content that's easy to understand</h2>

     <p class="nhsuk-body-s">For: <a href="/v6/accessibility/content">Content</a>

   

    <div class="chunk-content">

        <p>This is the most important thing you can do. It will help more people than any other accessibility requirement.</p>

        <p>NHS services should follow the <a href="https://beta.nhs.uk/service-manual/content">content style guide</a>.</p>
    
    </div>

</div>