<div class="chunk-card content">

    <h2 id="headings">Use headings correctly</h2>

    <div class="role-label role-content">
        Content
    </div>

    <div class="role-label role-design">
        Design
    </div>

    <div class="role-label role-research">
        User research
    </div>

    <div class="chunk-content">

        <p>Headings describe the content, and for some people they provide an effective method of navigating the page.</p>
        <p>The size and style of text is not the deciding factor about heading level. The page structure is what's important.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
               Structure headings for accessibility
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>The question for each heading is whether it's a sub-section of the previous heading. If not, it should be at the same level as (or higher than) the previous section.</p>

                

                <div class="nhsuk-u-margin-top-8">
                {{ image({
                    "src": "https://dummyimage.com/300x150/D8D8D8/D8D8D8",
                    "alt": "Placeholder image",
                    "caption": "Caption"
                }) }}
                </div>
            </div>
        </details>

    </div>

</div>