<div class="chunk-card content">

    <h2 id="write-good-link-and-control-names">Write good link and control names</h2>

    <div class="role-label role-content">
        Content
    </div>
    <div class="role-label role-design">
        Design
    </div>
    <div class="role-label role-design">
        Testing
    </div>

    <div class="chunk-content">

        <p>Links needs to make sense out of context as some people experience them that way. Each link should clearly describe where it will take you. For example: "Find your nearest A&amp;E".</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                How to write good link and control names
                </span>
            </summary>
            <div class="nhsuk-details__text">

                <ul>
                    <li>Ideally link text should match the heading of the target page. If  the target page has the heading "Sleep and tiredness", that's good link text.</li>
                    <li>Avoid ambiguous phrases such as "click here", "read more" and "find out more". It's OK to say: "Read more about <u>how to deal with stress</u>."</li>
                    <li>If links open in a new window, say this in the link phrase. For example, "Link name (opens in new window)".</li>
                    <li>If the link goes to a document, include the file type and size in the link phrase. For example: "Link name (PDF, 200KB)".</li>
                </ul>                    
    
            </div>
        </details>
    
    </div>

</div>