<div class="chunk-card content">

    <h2 id="write-good-link-and-control-names">Write good link and button names</h2>

    <div class="role-label role-content">
        Content
    </div>
    <div class="role-label role-design">
        Design
    </div>
    <div class="role-label role-design">
        Testing
    </div>

    <div class="chunk-content">

        <p>Links needs to make sense out of context as some people experience them that way. Each link should clearly describe where it will take you. For example: "Find your nearest A&amp;E".</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                How to write good link and button names
                </span>
            </summary>
            <div class="nhsuk-details__text">

                <ul>
                    <li>Ideally link text should match the heading of the target page. If  the target page has the heading "Sleep and tiredness", that's good link text.</li>
                    <li>Avoid ambiguous phrases such as "click here", "read more" and "find out more". It's OK to say: "Read more about <u>how to deal with stress</u>."</li>
                    <li>If links open in a new window, say this in the link phrase. For example, "Link name (opens in new window)".</li>
                    <li>If the link goes to a document, include the file type and size in the link phrase. For example: "Link name (PDF, 200KB)".</li>
                </ul>                    
    
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                Using the same link text for multiple links
                </span>
            </summary>
            <div class="nhsuk-details__text">
        <p>You can use the same text for multiple links when they're in a good structure. For example, you could have "Edit" links at the end of each row of a table so long as the table row headings together with the link text make the meaning clear.</p>
        <p>Here is a WCAG 2.1 example of <a href="https://www.w3.org/WAI/WCAG21/Techniques/html/H79">using a table structure for good link names</a>.</p>
    </div>
    </details>
    </div>

</div>